::-webkit-input-placeholder {color: white;} /* Chrome/Opera/Safari */
::-moz-placeholder { color: white;} /* Firefox 19+ */
:-ms-input-placeholder { color: white;} /* IE 10+ */
:-moz-placeholder {color: white;}  /* Firefox 18- */

.MuiOutlinedInput-input{
  color: white
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD !important;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.photoEquip{
  height: 200px;
  width: 200px;
}

.Equiptitle{
  color: white;
}

.imageclass{
 
  width:200px;
  height: 200px;
}

.Labelclass{
  color: white;
}

.slider{
  color: white;
}

